<footer class="footer">
    <div class="container">
        <div class="section">
            <div class="title">
                Contact
            </div>

            <ul>
                <li>
                    <a href="tel:+00 (000) 000 00 00">Phone: +00 (000) 000 00 00</a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href="mailto:store@gmail.com">Mail: store@gmail.com</a>
                </li>
            </ul>
        </div>

        <div class="sectionLine"></div>

        <div class="section">
            <div class="title">
                Pages
            </div>

            <ul>
                <li>
                    <a href="/store3/">Store</a>
                </li>
                <li>
                    <a href="/store3/products/">Products</a>
                </li>
                <li>
                    <a href="/store3/">Blogs</a>
                </li>
                <li>
                    <a href="/store3/sign-in/">Sign in</a>
                </li>
                <li>
                    <a href="/store3/sign-up/">Sign up</a>
                </li>
            </ul>
        </div>

        <div class="sectionLine"></div>

        <div class="section">
            <div class="title">
                Social
            </div>

            <ul>
                <li>
                    <a href="https://web.telegram.org/">Telegram</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/">Instagram</a>
                </li>
                <li>
                    <a href="https://x.com/">X</a>
                </li>
            </ul>
        </div>

        <span>Store ©</span>
    </div>
</footer>